html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
  background-color: #f1f8e9;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px; 
  background-color: #7da453;
}

input {
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: .25rem;
     
}

.jumbotron {
	background-color: #7da453;
	color: white;
	}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;

}

.secondBlock {
	display: none;
}

	

